QUARKUS_HTTP_PORT={{ tid_api_http_port }}

QUARKUS_DATASOURCE_JDBC_URL={{ tid_api_db_url }}
QUARKUS_DATASOURCE_USERNAME={{ tid_api_db_username }}
QUARKUS_DATASOURCE_PASSWORD={{ tid_api_db_password }}
QUARKUS_DATASOURCE_JDBC_MAX_SIZE={{ tid_api_db_max_size }}

QUARKUS_OIDC_AUTH_SERVER_URL={{ tid_api_oidc_auth_server_url }}
QUARKUS_OIDC_CLIENT_ID={{ tid_api_oidc_client_id }}
QUARKUS_OIDC_CREDENTIALS_SECRET={{ tid_api_oidc_credentials_secret }}
KEYCLOAK_TLS_VERIFY={{ tid_api_keycloak_tls_verify }}

CORS_ALLOWED_ORIGINS={{ tid_api_cors_allowed_origins }}

QUARKUS_LOG_SQL={{ tid_api_log_sql | string | lower }}
QUARKUS_LOG_FILE_ENABLE={{ tid_api_log_file_enable | string | lower }}
QUARKUS_LOG_FILE_PATH={{ tid_api_log_file_path }}

MINIO_URL={{ tid_api_minio_url }}
MINIO_ACCESS_KEY={{ tid_api_minio_access_key }}
MINIO_SECRET_KEY={{ tid_api_minio_secret_key }}
MINIO_BUCKET={{ tid_api_minio_bucket }}
