POSTGRES_IMAGE={{ tid_docker_env_postgres_image }}
KEYCLOAK_IMAGE={{ tid_docker_env_keycloak_image }}
MINIO_IMAGE={{ tid_docker_env_minio_image }}
API_IMAGE={{ tid_docker_env_api_image }}
WEB_IMAGE={{ tid_docker_env_web_image }}

PUBLIC_HTTPS_PORT={{ tid_docker_env_https_port }}

QUARKUS_DB_USER={{ tid_docker_env_quarkus_db_user }}
QUARKUS_DB_PASSWORD={{ tid_docker_env_quarkus_db_password }}
QUARKUS_DB_NAME={{ tid_docker_env_quarkus_db_name }}

KEYCLOAK_DB_USER={{ tid_docker_env_keycloak_db_user }}
KEYCLOAK_DB_PASSWORD={{ tid_docker_env_keycloak_db_password }}
KEYCLOAK_DB_NAME={{ tid_docker_env_keycloak_db_name }}

KC_ADMIN_USER={{ tid_docker_env_kc_admin_user }}
KC_ADMIN_PASSWORD={{ tid_docker_env_kc_admin_password }}
KEYCLOAK_PUBLIC_URL={{ tid_docker_env_keycloak_public_url }}

MINIO_ROOT_USER={{ tid_docker_env_minio_root_user }}
MINIO_ROOT_PASSWORD={{ tid_docker_env_minio_root_password }}

API_HTTP_PORT={{ tid_docker_env_api_http_port }}
API_DB_URL={{ tid_docker_env_api_db_url }}
API_DB_USERNAME={{ tid_docker_env_api_db_username }}
API_DB_PASSWORD={{ tid_docker_env_api_db_password }}
API_DB_MAX_SIZE={{ tid_docker_env_api_db_max_size }}
API_OIDC_AUTH_SERVER_URL={{ tid_docker_env_api_oidc_auth_server_url }}
API_OIDC_CLIENT_ID={{ tid_docker_env_api_oidc_client_id }}
API_OIDC_CREDENTIALS_SECRET={{ tid_docker_env_api_oidc_credentials_secret }}
API_KEYCLOAK_TLS_VERIFY={{ tid_docker_env_api_keycloak_tls_verify }}
API_CORS_ALLOWED_ORIGINS={{ tid_docker_env_api_cors_allowed_origins }}
API_LOG_SQL={{ tid_docker_env_api_log_sql | string | lower }}
API_LOG_FILE_ENABLE={{ tid_docker_env_api_log_file_enable | string | lower }}
API_LOG_FILE_PATH={{ tid_docker_env_api_log_file_path }}
API_MINIO_URL={{ tid_docker_env_api_minio_url }}
API_MINIO_ACCESS_KEY={{ tid_docker_env_api_minio_access_key }}
API_MINIO_SECRET_KEY={{ tid_docker_env_api_minio_secret_key }}
API_MINIO_BUCKET={{ tid_docker_env_api_minio_bucket }}
