QUARKUS_DB_USER={{ tid_platform_quarkus_db_user }}
QUARKUS_DB_PASSWORD={{ tid_platform_quarkus_db_password }}
QUARKUS_DB_NAME={{ tid_platform_quarkus_db_name }}

KEYCLOAK_DB_USER={{ tid_platform_keycloak_db_user }}
KEYCLOAK_DB_PASSWORD={{ tid_platform_keycloak_db_password }}
KEYCLOAK_DB_NAME={{ tid_platform_keycloak_db_name }}

KC_ADMIN_USER={{ tid_platform_kc_admin_user }}
KC_ADMIN_PASSWORD={{ tid_platform_kc_admin_password }}

MINIO_ROOT_USER={{ tid_platform_minio_root_user }}
MINIO_ROOT_PASSWORD={{ tid_platform_minio_root_password }}
