VITE_API_BASE={{ tid_web_api_base }}
VITE_KEYCLOAK_URL={{ tid_web_keycloak_url }}
VITE_KEYCLOAK_REALM={{ tid_web_keycloak_realm }}
VITE_KEYCLOAK_CLIENT_ID={{ tid_web_keycloak_client_id }}
VITE_KEYCLOAK_API_CLIENT_ID={{ tid_web_keycloak_api_client_id }}
